# March Madness 2019

## Data Science Club 

#### Data from Kaggle Competition, site: https://www.kaggle.com/c/mens-machine-learning-competition-2019
#### After looking through the data in the EDA phase, we are moving into the regression analysis part. We will run some regressions to see what variables are explanatory of a winning season in NCAA.

In [33]:
import pandas as pd
pd.options.display.max_columns = None  #This allows us to display all columns in jupyter output

In [34]:
Season_Results = pd.read_csv("/Users/ericenglin/Desktop/Data Science Club/DataFiles/RegularSeasonDetailedResults.csv")
Teams = pd.read_csv("/Users/ericenglin/Desktop/Data Science Club/DataFiles/Teams.csv")

In [35]:
Season_Results['TeamID']=Season_Results['WTeamID']
Season_Results['CountCol']=1
Season_Results= pd.merge(Season_Results, Teams, on='TeamID')

In [36]:
Win = Season_Results.groupby(["TeamName","Season"]).sum()
Win.head()

                    DayNum  WTeamID  WScore  LTeamID  LScore  NumOT  WFGM  \
TeamName    Season
Abilene Chr 2014       169     2202     160     2369     153      0    52
            2015       451     7707     542     8641     457      0   189
            2016       742     9909     704    11333     636      0   231
            2017       710     9909     669    11693     627      2   216
            2018       804    13212     915    14808     827      1   329

                    WFGA  WFGM3  WFGA3  WFTM  WFTA  WOR  WDR  WAst  WTO  WStl  \
TeamName    Season
Abilene Chr 2014      97     10     23    46    62   15   43    23   29    20
            2015     371     68    145    96   122   57  155   110   93    44
            2016     486     62    158   180   238   76  223   125  118    75
            2017     446     70    164   167   234   71  220   122  141    66
            2018     687     95    252   162   235  105  307   198  149    75

                    WBlk  WPF  LFGM  LFGA  LFGM3  LFGA3  LFTM  LFTA  LOR  LDR  \
TeamName    Season
Abilene Chr 2014       4   39    60   106      9     23    24    48   21   38
            2015       7  142   154   364     34    120   115   156   78  144
            2016      23  220   216   475     30    112   174   260   82  208
            2017      32  197   216   495     63    178   132   210  106  196
            2018      57  239   286   672     78    247   177   259  119  293

                    LAst  LTO  LStl  LBlk  LPF  TeamID  CountCol  \
TeamName    Season
Abilene Chr 2014      29   30    17     3   49    2202         2
            2015      62  106    40    24  127    7707         7
            2016      87  138    45    30  195    9909         9
            2017     109  141    52    15  187    9909         9
            2018     132  169    62    43  211   13212        12

                    FirstD1Season  LastD1Season
TeamName    Season
Abilene Chr 2014             4028          4038
            2015            14098         14133
            2016            18126         18171
            2017            18126         18171
            2018            24168         24228

In [37]:
Win['Field_Goal_Percentage']= (Win['WFGM']/Win['WFGA'])
Win['3_Point_Goal_Percentage']= (Win['WFGM3']/Win['WFGA3'])
Win['Free_Throw_Percentage']= (Win['WFTM']/Win['WFTA'])
Win['Point Differential']=(Win['WPF']-Win['LPF'])
Win['Turnover Differential']=(Win['WStl']+Win['WBlk']-Win['WTO'])
Win.head()

                    DayNum  WTeamID  WScore  LTeamID  LScore  NumOT  WFGM  \
TeamName    Season
Abilene Chr 2014       169     2202     160     2369     153      0    52
            2015       451     7707     542     8641     457      0   189
            2016       742     9909     704    11333     636      0   231
            2017       710     9909     669    11693     627      2   216
            2018       804    13212     915    14808     827      1   329

                    WFGA  WFGM3  WFGA3  WFTM  WFTA  WOR  WDR  WAst  WTO  WStl  \
TeamName    Season
Abilene Chr 2014      97     10     23    46    62   15   43    23   29    20
            2015     371     68    145    96   122   57  155   110   93    44
            2016     486     62    158   180   238   76  223   125  118    75
            2017     446     70    164   167   234   71  220   122  141    66
            2018     687     95    252   162   235  105  307   198  149    75

                    WBlk  WPF  LFGM  LFGA  LFGM3  LFGA3  LFTM  LFTA  LOR  LDR  \
TeamName    Season
Abilene Chr 2014       4   39    60   106      9     23    24    48   21   38
            2015       7  142   154   364     34    120   115   156   78  144
            2016      23  220   216   475     30    112   174   260   82  208
            2017      32  197   216   495     63    178   132   210  106  196
            2018      57  239   286   672     78    247   177   259  119  293

                    LAst  LTO  LStl  LBlk  LPF  TeamID  CountCol  \
TeamName    Season
Abilene Chr 2014      29   30    17     3   49    2202         2
            2015      62  106    40    24  127    7707         7
            2016      87  138    45    30  195    9909         9
            2017     109  141    52    15  187    9909         9
            2018     132  169    62    43  211   13212        12

                    FirstD1Season  LastD1Season  Field_Goal_Percentage  \
TeamName    Season
Abilene Chr 2014             4028          4038               0.536082
            2015            14098         14133               0.509434
            2016            18126         18171               0.475309
            2017            18126         18171               0.484305
            2018            24168         24228               0.478894

                    3_Point_Goal_Percentage  Free_Throw_Percentage  \
TeamName    Season
Abilene Chr 2014                   0.434783               0.741935
            2015                   0.468966               0.786885
            2016                   0.392405               0.756303
            2017                   0.426829               0.713675
            2018                   0.376984               0.689362

                    Point Differential  Turnover Differential
TeamName    Season
Abilene Chr 2014                   -10                     -5
            2015                    15                    -42
            2016                    25                    -20
            2017                    10                    -43
            2018                    28                    -17

In [38]:
import numpy as np
from sklearn.model_selection import train_test_split

cols=['Field_Goal_Percentage','3_Point_Goal_Percentage',
      'Free_Throw_Percentage', 'Point Differential', 'Turnover Differential'] 


Win2 = Win[cols]

y=Win['CountCol']
X_train, X_test, y_train, y_test = train_test_split(Win2, y, test_size=0.3)
print(X_train.shape, y_train.shape)
print(X_test.shape, y_test.shape)

(3833, 5) (3833,)
(1643, 5) (1643,)

In [39]:
import statsmodels.api as sm
ols_model=sm.OLS(y_train, X_train)
result=ols_model.fit()
print(result.summary2())

                     Results: Ordinary least squares
==========================================================================
Model:                 OLS                Adj. R-squared:       0.894
Dependent Variable:    CountCol           AIC:                  23621.1376
Date:                  2019-02-28 23:22   BIC:                  23652.3946
No. Observations:      3833               Log-Likelihood:       -11806.
Df Model:              5                  F-statistic:          6469.
Df Residuals:          3828               Prob (F-statistic):   0.00
R-squared:             0.894              Scale:                27.754
--------------------------------------------------------------------------
                         Coef.   Std.Err.    t     P>|t|   [0.025   0.975]
--------------------------------------------------------------------------
Field_Goal_Percentage    23.0582   2.9272   7.8773 0.0000  17.3193 28.7971
3_Point_Goal_Percentage -12.3112   2.5600  -4.8090 0.0000 -17.3304 -7.2921
Free_Throw_Percentage     8.4240   1.5989   5.2686 0.0000   5.2892 11.5588
Point Differential       -0.0863   0.0025 -34.7773 0.0000  -0.0911 -0.0814
Turnover Differential     0.0057   0.0024   2.3883 0.0170   0.0010  0.0103
--------------------------------------------------------------------------
Omnibus:                 83.197          Durbin-Watson:             2.015
Prob(Omnibus):           0.000           Jarque-Bera (JB):          88.263
Skew:                    0.371           Prob(JB):                  0.000
Kurtosis:                3.040           Condition No.:             2521
==========================================================================
* The condition number is large (3e+03). This might indicate
strong multicollinearity or other numerical problems.

In [40]:
X_train.head()

,,Field_Goal_Percentage,3_Point_Goal_Percentage,Free_Throw_Percentage,Point Differential,Turnover Differential
TeamName,Season,,,,,
Belmont,2009,0.477461,0.370722,0.678922,-34,-49
Santa Barbara,2013,0.459746,0.361702,0.680412,-15,-13
La Salle,2007,0.500000,0.415254,0.711191,-48,-63
Albany NY,2003,0.448718,0.380952,0.774775,-13,-29
WI Milwaukee,2007,0.409434,0.330000,0.705556,-19,-39

In [41]:
y_pred = result.predict(X_test)

In [42]:
y_pred.describe()

count    1643.000000
mean       14.931980
std         3.153454
min         6.391688
25%        12.742848
50%        14.539308
75%        16.683910
max        30.727813
dtype: float64

In [43]:
y_test.describe()

count    1643.000000
mean       15.040170
std         6.155781
min         1.000000
25%        10.000000
50%        15.000000
75%        19.000000
max        32.000000
Name: CountCol, dtype: float64

In [44]:
Win['MSE']= (y_test-y_pred)**2
Win['MSE'].describe()

count    1.643000e+03
mean     2.836990e+01
std      4.052874e+01
min      7.943045e-07
25%      2.789363e+00
50%      1.322290e+01
75%      3.720029e+01
max      3.619482e+02
Name: MSE, dtype: float64